<h3>Workshop Details</h3>

<h4><%=@workshop.title%>
<p><%=@workshop.description%>

<% if @workshop.location_id?%>
  <p>Location: <%=@workshop.location.name%></p>
  <p>Location: <%=@workshop.location.address%></p>
<% end %>

<% if @workshop.slot_id?%>
  <p>Location: <%=@workshop.slot.time%></p>
<% end %>