<h3>Log In</h3>

<%= form_tag sessions_path do %>
  <div class="col-md-10">
    <div class="form-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email], :autofocus => true, :class => "form-control" %>
      <%= label_tag :password %>
      <%= password_field_tag :password, '', :class => "form-control" %>
    </div>
      <%= submit_tag "Log In", :id => 'Log in', :class => "btn btn-primary" %>
  </div>
<% end %>



